In [1]:
#Nested if-else
a=10
b=20
c=30
if a>b:
    if a>c:
        print(a,"largest")
    else:
        print(c,"largest")
else:
    if b>c:
        print(b,"largest")
    else: 
        print(c,"largest")

30 largest

In [2]:
a=10
b=20
if a>b:
    print("a is greater than b")
elif a==b:
    print("a is equal to b")
else:
    print("a is less than b")

a is less than b

In [4]:
n=1
print(n)

1

In [6]:
#While loop
n=1
while n<=10:
    print(n)
    n=n+1
    
print("Done")

1
2
3
4
5
6
7
8
9
10
Done

In [7]:
#Break
n=1
while n<=10:
    if n==6:
        break
    print(n)
    n+=1
print("Done")

1
2
3
4
5
Done

In [8]:
#Continue
n=1
while n<=10:
    if n==6:
        n=n+1
        continue #Continue is used to end the current iteration in a loop and continues to the next iteration
    print(n)
    n+=1
print("Done")

1
2
3
4
5
7
8
9
10
Done

In [9]:
n=1
while n<=10:
    if n<=5:
        n=n+1
        continue #5 theke boro number gulo print kora holo
    print(n)
    n+=1
print("Done")

6
7
8
9
10
Done

In [1]:
#For loop
for i in range(10): #(0,10,1)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(2,10,2): #(initialization,condition,post-statement)
    print(i)

2
4
6
8

In [14]:
vegetable=['Potol','Alu','dherosh']
for i in vegetable:
    print(i)

Potol
Alu
dherosh

In [16]:
vegetable=['Potol','Alu','dherosh']
i=0
length=len(vegetable)
while i<length:
    print(vegetable[i])
    i+=1

Potol
Alu
dherosh

In [19]:
vegetable=['Potol','Alu','dherosh']
length=len(vegetable)
for i in range(length):
    print(i,end="-")
    print(vegetable[i])

0-Potol
1-Alu
2-dherosh

In [31]:
dict={"a":"A","b":"B","c":"C","d":"D","e":"E"}
print("{\'Keywords\': \'values\'} =", dict)
print("Keywords")
for letter in dict:
    print(letter)
print("Values")
for letter in dict.values():
    print(letter)

{'Keywords': 'values'} = {'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D', 'e': 'E'}
Keywords
a
b
c
d
e
Values
A
B
C
D
E

In [38]:
numbers=[1,3,5,7,9]
for i in numbers:
    if i<9:
        print(i)
        i+=1
        continue
    else:
        print(9)

1
3
5
7
9

In [51]:
#multiplication table using for loop
n=int(input("Put the multiplication table you want to calculate:"))
x=int(input("Put the limit:"))
for m in range(1,x+1): #(1,x,1)
    print(n,"X",m,"=",n*m)

Put the multiplication table you want to calculate:10
Put the limit:10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [52]:
#multiplication table using while loop
n=int(input("Put the multiplication table you want to calculate:"))
x=int(input("Put the limit:"))
m=1
while m<=x:
    print(n,"X",m,"=",n*m)
    m+=1

Put the multiplication table you want to calculate:10
Put the limit:10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [82]:
n=59
string="Jamee"
print(string)
string.split("a")
string.find("a")
print(string,n)
print(f"{string} {n} very good boy")
for i in string:
    print(i)
print("\n")
length=len(string)
for i in reversed(range(length)): #printing backward
    print(string[i])
print("\n")
for i in string:
    print(i,end=" ")
for i in string[: : -1]:
    print(i,end=" ")

Jamee
Jamee 59
Jamee 59 very good boy
J
a
m
e
e


e
e
m
a
J


J a m e e

In [83]:
#Adding in list by using loop
list_1=[]
x=input("Put how many numbers you want to add: ")
x1=int(x)
for i in range(x1):
    element=int(input())
    list_1.append(element)
print(list_1)

Put how many numbers you want to add: 5
10
20
30
40
50
[10, 20, 30, 40, 50]

In [12]:
#Function
def my_pet(name): #parameter
    return name #output
pet_name = my_pet("Tom") 
pet_name #pet_name variable e my_pet function rakha hoise and call kora hoise. erpor my_pet er vitore jeita chilo seta function ke input dicchiand return hishebe oi parameter ta output hishebe pacchi

'Tom'

In [8]:
#Function
def my_pet(name):
    return name
my_pet("Tom")

'Tom'

In [11]:
#Function with no return
def country():
    print("Bangladesh")
    print("India")
    print("Pakistan")

country()

Bangladesh
India
Pakistan

In [13]:
def country():
    print("Bangladesh")
    print("India")
    print("Pakistan")

c=country()

Bangladesh
India
Pakistan

In [15]:
c #c er kono value nai karon kichu return kortesena. null

In [17]:
def my_pet(name,age,color):
    return name, age, color
name, age, color = my_pet("Tom",18,"White")
color

'White'

In [18]:
def my_pet(name,age,color):
    return name, age, color
name, age, color = my_pet("Tom",18,"White")
name

'Tom'

In [19]:
def my_pet(name,age,color):
    return name, age, color
name, age, color = my_pet("Tom",18,"White")
age

18

In [21]:
def my_pet(name,age,color):
    return name, age, color
tup = my_pet("Tom",18,"White") #tuple hishebe output dibe
tup

('Tom', 18)

In [22]:
def my_pet(name,age,color):
    return name, age #duita return korbe just
tup = my_pet("Tom",18,"White") #tuple hishebe output dibe
tup

('Tom', 18)

In [23]:
def my_pet(name,age,color='Red'): #Color er vitore default value assign kora hoise
    return name, age,color
tup = my_pet("Tom",18) 
tup

('Tom', 18, 'Red')

In [25]:
def my_pet(name,age,color='Red'): #Color er vitore default value assign kora hoise
    return name, age,color
tup = my_pet("Tom",18,'Blue') #Color er value over write kora hoise
tup

('Tom', 18, 'Blue')

In [44]:
def numbers(n):
    n=12
    print(n)
    return n
n=14
print(n)
print(numbers(13))

14
12
12

In [41]:
def numbers(n):
    print(n)
    n+=1
    return n
n=14
print(n)
print(numbers(20))

14
20
21

In [45]:
def numbers(i):
    i=12 #local
    return i
for i in range (5): #global e local er kono impact nai
    print(i)

0
1
2
3
4

In [21]:
#Lambda Function - annonynomous function

def add(a,b):
    return a+b
x=add(10,15)
x

25

In [22]:
sum_1 = lambda a,b : a+b
sum_1(10,15)

25

In [55]:
#Map function is used to change the internal operation or variables under a list for example. map(function,iterable)

#Map Function, Filter Function, Reduce Function

def square(n): #for square
    return n*n
def even(n): #for even
    return n%2==0 #return n%2==0 mane hocche true naki false return kora true return korle even number print korbe

list_1=[1,2,3,4,5,6,7,8,9,10]

square = list(map(square,list_1))
print(square)

even_number = list(map(even,list_1)) #Set diyeo hobe but apatoto hocchena
print(even_number)

even_number_filter = list(filter(even,list_1))
print(even_number_filter)

odd_number_filter = list(filter(lambda n: n%2!=0, list_1))
print(odd_number_filter)

for i in list_1:
    print(i*i)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[False, True, False, True, False, True, False, True, False, True]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
1
4
9
16
25
36
49
64
81
100

In [56]:
from functools import reduce
list_1=[1,2,3,4,5]
sum = reduce(lambda a,b: a+b, list_1)
sum

15

In [68]:
# from functools import reduce
list_1=[1,2,3,4,5,6,7]
sum = reduce(lambda a,b: a+b, list_1) #reduce function always takes two input as parameters only
sum

28